$primary: #F76B30;

$off-white: #F5F7FF;
$medium-grey: #575A6D;
$very-dark-blue: #001C42;
$beige: #FFD0B0;
$bright-yellow: #FCF081;
$dark-yellow: #FCB826;
$light-blue: #8078D8;
$dark-blue: #343E94;
$green: #26E291;
$orange-red: #FA6751;
