@import "/assets/_variables.scss";
@import "/assets/_animations.scss";
@import "/assets/material-icons.scss";
@import "/assets/fonts.scss";

body {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

* {
  font-family: 'Barlow';
  font-style: normal;
}

h1, h2 {
  font-weight: 600;
}

h1 {
  font-size: 22px;
  line-height: 26.4px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

a {
  color: $primary;
  @apply underline;
}
