@import "/assets/_animations.scss";
@import "/assets/material-icons.scss";

body {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

h1 {
  font-size: 20pt;
}

* {
  font-family: 'Barlow';
  font-weight: normal;
  font-style: normal;
}
